.ovp_table {
    border-collapse: collapse;
}
.ovp_table, .ovp_table tr, .ovp_table td, .ovp_table th {
    border: 1px solid black;
}

input[type="submit"] {
    width: 100%;
}

.ovp_error {
    background: #FF8888;
}
