.ovp_container, #ovp_navi {
    font-family: sans-serif;
}

.ovp_table {
    border-collapse: collapse;
}

.ovp_table th {
    background-color: #999;
}

.ovp_table, .ovp_table tr, .ovp_table td, .ovp_table th {
    border: 1px solid black;
    padding-left: 3pt;
    padding-right: 3pt;
    vertical-align: top;
    white-space: nowrap;
}

/* this is for the print table:
 * time, course, subject, duration, change, room
 */
#ovp_table_print tr>td {text-align: right; width: 1cm;}
#ovp_table_print tr>td+td {text-align: center; width: 1cm;}
#ovp_table_print tr>td+td+td {text-align: center; width: 1cm;}
#ovp_table_print tr>td+td+td+td {text-align: center; width: 1cm;}
#ovp_table_print tr>td+td+td+td+td {text-align: left; width: auto; white-space: normal;}
#ovp_table_print tr>td+td+td+td+td+td {text-align: left; width: 1cm;}

#ovp_table_print td.ovp_cell_teacher {
    padding-top: 1em;
    font-weight: bold;
    text-align: left;
    vertical-align: baseline;
}

/* this is for the public table:
 * time, course, subject, oldroom, duration, change, newroom
 */
#ovp_table_public tr>td {text-align: right; width: 1cm;}
#ovp_table_public tr>td+td {text-align: center; width: 1cm;}
#ovp_table_public tr>td+td+td {text-align: center; width: 1cm;}
#ovp_table_public tr>td+td+td+td {text-align: center; width: 1cm;}
#ovp_table_public tr>td+td+td+td+td {text-align: center; width: 1cm;}
#ovp_table_public tr>td+td+td+td+td+td {text-align: left; width: auto; white-space: normal;}
#ovp_table_public tr>td+td+td+td+td+td+td {text-align: left; width: 1cm;}

.ovp_container input[type="submit"] {
    width: 100%;
}

.ovp_error {
    background: #FF8888;
}

#ovp_tip {
    font-size: small;
    font-style: italic;
}
